# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VSCode project settings
.vscode/

# Hugging Face cache
~/.cache/huggingface/
